<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenavOpened = !sidenavOpened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" [fixedInViewport]="true">
    <mat-nav-list>
      <br>
      <mat-list-item routerLink="/estatisticas">
        <mat-icon mat-list-icon>analytics</mat-icon>
        <span mat-line>Estatísticas</span>
      </mat-list-item>
      <mat-list-item routerLink="/integrantes">
        <mat-icon mat-list-icon>people</mat-icon>
        <span mat-line>Integrantes</span>
      </mat-list-item>
      <mat-list-item routerLink="/times">
        <mat-icon mat-list-icon>groups</mat-icon>
        <span mat-line>Times</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

